@charset "utf-8";
body {
  font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  color: #ffffff;
  background-color: #4f31a8;
}